.boat__card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* flex-direction: column; */
}
.boat__card__container {
  display: flex;
  width: fit-content;
}
.home__page__boat__card {
  border: red 1px solid;
  /* overflow-wrap: break-word; */
  /* flex-basis: 200px; */
  /* max-width: 60vh; */
  /* margin: 0; */
  display: flex;
  align-items: center;
}
.boat__card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27vh;
}
