.single__boat__view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: beige;
  border: rgb(103, 103, 196) 3rem ridge;
}
.boat__review__board {
  display: flex;
  justify-content: center;
}
.boat__info__booking {
  display: flex;
  justify-content: space-around;
}
.boat__booking__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add__booking__form__container {
  display: flex;
  align-items: center;
}
