.single__boat__view {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  justify-content: space-around;
  background-color: #cccccc;
  border: #274063 solid 5px;
  border-radius: 15px;
}
.boat__review__board {
  display: flex;
  justify-content: center;
}
.boat__review__board__container {
  padding: 3vh 3vh 3vh 3vh;
  background-color: #cccccc;
  border: 3px #274063 solid;
  border-bottom: none;
  border-radius: 15px;
}
.boat__info__booking {
  display: flex;
  justify-content: space-around;
}
.boat__booking__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add__booking__form__container {
  display: flex;
  align-items: center;
}
