body {
  background-color: #274063;
}

.front__page__all__boats {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 85%;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* max-width: 100vh; */
}
.home__page__boat__card > button {
  font-size: bolder;
  width: auto;
  color: black;
  border-radius: 12px;
  margin-right: 2vh;
}

.home__page__view {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* max-width: 8rem; */
}

.home__page__test {
  display: flex;
}
