.boat__listings__container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: auto;
  max-height: 850px;
  /* max-width: 1111px; */
  /* border: 1px solid blue; */
  /* overflow: scroll; */
}

.boat__cards__container {
  width: 100%;
  max-width: 1111px;
  margin-right: 22px;
  margin-left: 11px;
  /* border: 4px dashed salmon; */
  max-height: 830px;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.boat__cards__container::-webkit-scrollbar {
  display: none;
}

.boat__listings__search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 11px;
  height: 69px;
  border-bottom: rgba(40, 39, 39, 0.2) 1px solid;
  background-color: #ffffff;
}

.boat__listings__search__div {
  max-width: 333px;
  width: 100%;
  height: 45px;
  padding: 8px;
  /* border: 1px solid red; */
  border-radius: 40.5px;
  margin-right: 45px;
  background-color: rgba(40, 39, 39, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boat__listings__search__div > input {
  padding: 14px 15px 14px 15px;
  background-color: #ffffff;
  max-width: 893px;
  width: 100%;
  border-radius: 40.5px;
  border: none;
  margin-right: 10px;
  height: 22px;
  outline: 0;
  font-size: 16px;
}
.boat__listings__search__div > button {
  max-width: 122px;
  width: 100%;
  height: 26px;
  /* padding: 14px 50px; */
  text-align: center;
  /* border: 1px solid red; */
  border-radius: 40.5px;
  /* margin-right: 45px; */
  background-color: #0751c2;
  border: none;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
}
.search__filter__container {
  position: absolute;
  width: 300px;
  height: 250px;
  padding: 26px;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid rgba(40, 39, 39, 0.2);
  box-shadow: 2px 2px 5px 5px rgba(40, 39, 39, 0.2);
  transform: translate(-30px, 47px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.search__filter__container::-webkit-scrollbar {
  display: none;
}
.search__filter__header {
  display: flex;
  padding: 15px 40px 15px 15px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(60, 59, 59, 0.6);
  border-bottom: 1px solid rgba(40, 39, 39, 0.2);
}
.search__option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  /* border: 1px solid red; */
  margin: 7px 0 7px 0;
  font-size: 14px;
}
.search__option:hover {
  background-color: rgba(60, 59, 59, 0.1);
}

.location__marker {
  width: 25px;
  height: 25px;
  background: url("./location__marker.svg") center no-repeat;
}
.location__state__full {
  font-size: 16px;
  margin-left: 5px;
}
.location__state__abr {
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
}
/* .location__marker > div > span {
  font-size: 14px;
  color: blue;
} */
