.boat__booking__form {
  display: flex;
  flex-direction: column;
}
.boat__booking__form > form {
  display: flex;
  flex-direction: column;
}

.boat__booking__form {
  /* border: 1px red solid; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 45vh;
  height: 25vh;
}
.boat__booking__form > label {
  margin-left: 2vh;
}

.add__booking__button {
  width: fit-content;
}

.booking__form {
  display: flex;
  flex-direction: column;
}

.booking__form > div,
.booking__form > input {
  display: flex;
  font-size: 2rem;
  /* flex-direction: column; */
  padding-top: 1vh;
  /* padding-right: 5vh; */
  /* margin-right: 3vh; */
}

.book__now__button__div {
  display: flex;
  justify-content: center;
}

.book__now__button__div > button {
  font-size: 2.2rem;
  border-radius: 10px;
}
