.boat__review__card__content__container {
  /* border: 1px solid purple; */
  width: 100%;
  /* min-width: 420px; */

  display: flex;
  flex-direction: column;
  padding: 0px 22px 0px 22px;
}

.average__rating__review__display {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  /* padding: 15px; */
  /* height: 22px; */
  /* border: 1px solid red; */
  border-bottom: 1px solid rgba(40, 39, 39, 0.2);
  border: 1px solid red;
  /* margin-right: 22px; */
  margin-top: 7px;
}
.user__review__card__average__rating__container {
  display: flex;
  margin: 2px 0 2px 0;
  font-size: 15px;
  font-weight: bold;
}

.user__review__card__rating__container {
  display: flex;
  margin: 2px 0 2px 0;
  font-weight: bold;
  font-size: 11px;
  color: rgba(40, 39, 39, 0.7);
}
.user__review__card__rating__container > div {
  display: flex;
  margin-right: 7px;
}
.user__rating__date {
  font-size: 14px;
  font-weight: bold;
  margin: 7px 0 12px 0;
}
