.user__profile__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.user__bookings__card {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid red; */
}

.user__bookings__panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid red;
}

.user__profile__bookings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}
