.provider__boats__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.provider__boat__card__container {
  display: flex;

  margin: 3vh 0 0 0;
  /* flex-direction: column; */
  align-items: center;
  /* border: ridge 7px #cccccc; */
  border: 3px solid #5992e3;
  border-radius: 11px;
  background-color: #cccccc;
  transition: border 350ms;
}

.provider__boat__button {
  padding-right: 2vh;
}

.provider__boat__button > button {
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #274063;
  cursor: pointer;
}
