* {
  box-sizing: border-box;
}

.provider__board__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh 20vh 10vh 10vh;
}

.provider__boats__home__container {
  border: 3px #5992e3 solid;
  border-top: none;
  border-radius: 15px;
  background-color: floralwhite;
  min-height: 60vh;
  padding: 0 4vh 4vh 4vh;
}
/* .boat__card {
  margin: 2vh 1.65vh;
  border-top: 1vh double rgb(0, 157, 255);

  border-bottom: 1vh double rgb(0, 157, 255);
} */

.provider__bookings__container {
  /* border: 1px red solid; */
}

.user__inbox__container {
  /* border: 1px red solid; */
}
.provider__view {
  display: flex;
  justify-content: space-around;
  /* border: 1px red solid; */
}

.provider__board {
  flex: 1 2;
  flex-direction: column;
  /* border: 1px red solid; */
}
.provider__nav__panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 20vh;
}
.user__profile__view__container {
  margin-top: 40px;
}
.provider__nav__panel > div {
  display: flex;
  width: 100%;
  color: #274063;
  font-weight: 600;
  font-size: 2rem;
  /* border: 1px solid black; */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px 15px 2px 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}
.profile__buttons__span {
  display: flex;
  border-radius: 15px 15px 10px 10px;
  width: auto;
  height: 3vh;
  background-color: #5992e3;
}

.boat__img {
  /* min-width: 20vh;
  min-height: 20vh;
  max-width: 40vh;
  max-height: 40vh; */
  /* width: 30vh;
  height: 30vh; */
}

.provider__panel__tabs {
  /* border: 1px solid black;
  border-radius: 15px; */
}

.profile__profile__checked,
.profile__bookings__checked,
.profile__boats__checked,
.profile__add__boat__checked {
  background-color: #5992e3;
}
