.logged__in__nav {
  display: flex;
  justify-content: space-between;
  background-color: none;
  background-color: cadetblue;
  border: 2px ridge cadetblue;
  border-radius: 15px;
  /* position: static; */
  /* height: 25vh;
  background: url("./1000_F_309830392_3unqC6gdkRuwACg55pTwVSuTzyeUlkqe.jpg"); */
}

.nav__bar__container {
  position: fixed;
  width: 100%;
  /* display: flex; */
}
body {
  background-color: bisque;
}

.visitor__nav {
  display: flex;
  justify-content: space-between;
  /* height: 25vh;
  background: url("./1000_F_309830392_3unqC6gdkRuwACg55pTwVSuTzyeUlkqe.jpg"); */
}

/* .nav__bar__container {
  height: 25vh;
  background: url("./1000_F_309830392_3unqC6gdkRuwACg55pTwVSuTzyeUlkqe.jpg");
} */
.home__button__nav {
  width: 75px;
  height: 75px;
}
.home__nav__div {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* justify-content: center; */
}

.nav__profile__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile__nav__links {
  background-color: cadetblue;
  display: flex;
  align-items: center;
}

.profile__nav__links > a {
  font-size: 40px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
