.profile-dropdown {
  /* position: absolute; */
}
.nav__menu__button__container {
  /* position: relative; */
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.nav__menu__picture__container {
  position: relative;
}
.nav__menu__dropdown {
  position: absolute;
  background-color: #f5f7f9;
  transform: translate(-0px, 202px);
  width: 256px;
  height: 315px;
  /* border: 1px solid red; */
  border: 1px solid rgba(40, 39, 39, 0.2);
  box-shadow: 2px 2px 5px 5px rgba(40, 39, 39, 0.2);
  /* cursor: pointer; */
}
.nav__menu__static__options {
  margin: 0px 22px 0px 22px;
  color: #0a4195;
  font-size: 14px;
  cursor: pointer;
}
.nav__menu__static__options:hover {
  text-decoration: underline;
  /* font-weight: bolder; */
}
.nav__menu__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(111, 111, 111, 0.2);
  margin: 0 22px 0 22px;
  /* width: 210px; */
  /* height: 96px; */
  /* padding: 15px 0px; */
}
.nav__menu__options > span {
  /* border: 1px solid red; */
  width: 210px;
  height: 32px;
  padding: 5px 0px;
  margin: 10px 0 8px 0;
  color: #0a4195;
  font-size: 14px;
  cursor: pointer;
}
.nav__menu__username__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(111, 111, 111, 0.2);
  margin: 0 22px 0 22px;
}
.nav__menu__username__container > span {
  width: 210px;
  height: 32px;
  padding: 0px 0px;
  padding-top: 22px;
  font-size: 14px;
  color: #0a4195;
  /* transform: translateY(25px); */

  /* margin: 10px 0 8px 0; */
}
.nav__menu__username__container > div {
  width: 210px;
  height: 22px;
  /* padding: 5px 0px; */
  font-size: 12px;
  color: #0a4195;
  cursor: pointer;
  padding-top: 7px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
  /* border: 1px solid red; */
}
.logout__button {
  /* margin-top: 15px; */
  color: #0a4195;
  margin: 15px 22px 0 22px;
  font-size: 14px;
  cursor: pointer;
}

.logged__in__nav {
  display: flex;

  justify-content: space-between;

  /* background-color: #313335; */
  background-color: #ffffff;
  /* background-color: rgb(211, 204, 204); */
  border-bottom: #d0d4d7 1px ridge;
  /* border: 2px ridge #274063; */
  height: 60px;
  /* border-radius: 0 0 12px 12px; */
  /* margin-top: 1.5vh; */
}

.nav__bar__container {
  margin-top: 0;
  position: relative;
  width: 100%;
  margin: auto;
  /* display: flex; */
}

.visitor__nav {
  display: flex;

  justify-content: space-between;

  background-color: #274063;
  /* border: 2px ridge #274063; */
  border-radius: 0 0 12px 12px;
  /* height: 25vh;
  background: url("./1000_F_309830392_3unqC6gdkRuwACg55pTwVSuTzyeUlkqe.jpg"); */
}

/* .nav__bar__container {
  height: 25vh;
  background: url("./1000_F_309830392_3unqC6gdkRuwACg55pTwVSuTzyeUlkqe.jpg");
} */
.home__button__nav {
  width: 75px;
  height: 75px;
  /* margin-left: 2vh; */
  color: whitesmoke;
}
.home__nav__div {
  display: flex;
  align-items: center;
  margin-left: 2vh;

  /* justify-content: center; */
}

.nav__profile__picture {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}
.profile__nav__links {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__nav__links > h4 {
  margin: 0;
  color: whitesmoke;
}

.profile__nav__links > a {
  font-size: 40px;
  font-weight: 500;
  color: #5992e3;

  text-decoration: none;
  margin: 0 2vh 0 2vh;
}

.sign__out__button {
  display: flex;

  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  width: 40px;
  height: 35px;
  margin-right: 3vh;
  color: whitesmoke;
}

.sign__out__button__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  font-weight: 800;
  margin-top: 1.5vh;
}
.sign__out__button__div > h4 {
  margin-bottom: 0.2vh;
}

.sign__out__button__container {
  display: flex;
  /* flex-direction: column; */
  /* margin: 1vh; */
  justify-content: center;
}

.nav__bar__center {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 1vh;

  /* margin-left: 10vh; */
  /* order: 1; */
}

.nav__bar__center > a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: whitesmoke;
}

.demo__login__button {
  height: 2rem;
  border-radius: 15px;
  cursor: pointer;
  /* margin-top: 1vh; */
  /* margin-right: 2vh; */
  /* margin-bottom: 1.5vh; */
}

.sign__in__buttons {
  display: flex;

  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  width: 40px;
  height: 35px;
  margin-right: 3vh;
  color: whitesmoke;
}

.sign__in__buttons__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-weight: 800;
  /* margin-top: 1.5vh; */
  margin-right: 2vh;
}
.sign__in__buttons__div > a {
  display: flex;
  justify-content: center;
  margin-left: 1vh;
}
.login__nav__button {
  display: flex;
  justify-content: center;
  margin-left: 1vh;
}

.sign__in__buttons__div > h4 {
  color: whitesmoke;
  font-weight: 800;
}

.boat__bnb__logo {
  height: 50px;
}

.login__modal__button {
  background: none;
  border: none;
}

.visitor__nav__auth {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: #0a4195;
  font-size: 14px;
}
.visitor__nav__auth > div {
  padding: 15px;
  cursor: pointer;
}
.visitor__nav__auth > div:hover {
  text-decoration: underline;
}
